version: 2.1
jobs:
  lint:
    docker:
      - image: circleci/golang:1.12
    working_directory: /go/src/github.com/spothero/periodic
    steps:
      - checkout
      - run: make bootstrap
      - run: make vendor
      - run: make lint
  test:
    docker:
      - image: circleci/golang:1.12
    working_directory: /go/src/github.com/spothero/periodic
    steps:
      - checkout
      - run: make vendor
      - run: mkdir -p /tmp/test-reports/unit # CircleCI likes test results to be in sub-directories for naming
      - run: gotestsum --junitfile /tmp/test-reports/unit/report.xml -- github.com/spothero/periodic -race -coverprofile=coverage.txt -covermode=atomic
      - store_test_results:
          path: /tmp/test-reports
      - run: bash <(curl -s https://codecov.io/bash)
workflows:
  version: 2
  test_and_lint:
    jobs:
      - lint
      - test
